.teamDisplay {
  display: grid;
  grid-template-columns: 30px 40px 1fr;
  grid-gap: 30px;
  color: black;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 500px;
  }
}
.standing {
  font-weight: 600;
  font-size: 32px;
}

.list {
  list-style: none;

  li {
    margin-bottom: 0;
  }
}
